@import '../../../../styles/mixins/button.scss';

.btn {  
  @include button(#aaa);
  
  padding: 5px 10px;
  display: inline-block;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus {
    outline: none;
  }
}