$fieldset-margin: 10px;

.btns-wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.left-btn-wrapper {
  width: 50%;
  padding-right: $fieldset-margin / 2;
  text-align: right;
}

.right-btn-wrapper {
  width: 50%;
  padding-left: $fieldset-margin / 2;
  text-align: left;
}

.reset-btn {
  margin-right: 20px;
}